Authenticated Received Chain (ARC) DMARC Local Policy Overrides

It would be a useful addition to the DMARC reports to filter based on a local policy override. When a message is delivered through a mailing list (such as Google Groups) the original DMARC policy will often fail, but the message is delivered anyway based on an Authenticated Received Chain local policy override. In this case the DMARC report contains a reason type of `local_policy` and a reason comment of `arc=pass`.

The ARC protocol and DMARC local policy overrides are described in [Section 7.2 of RFC 8617](https://www.rfc-editor.org/rfc/rfc8617.html#section-7.2).

<details><summary>Example report</summary>

```
<?xml version="1.0" encoding="UTF-8" ?>
<feedback>
  <report_metadata>
    <org_name>google.com</org_name>
    <email>noreply-dmarc-support@google.com</email>
    <extra_contact_info>https://support.google.com/a/answer/2466580</extra_contact_info>
    <report_id>8924857946684354475</report_id>
    <date_range>
      <begin>1612396800</begin>
      <end>1612483199</end>
    </date_range>
  </report_metadata>
  <policy_published>
    <domain>ionic.io</domain>
    <adkim>r</adkim>
    <aspf>r</aspf>
    <p>none</p>
    <sp>none</sp>
    <pct>100</pct>
  </policy_published>
  <record>
    <row>
      <source_ip>209.85.220.69</source_ip>
      <count>1</count>
      <policy_evaluated>
        <disposition>none</disposition>
        <dkim>fail</dkim>
        <spf>fail</spf>
        <reason>
          <type>local_policy</type>
          <comment>arc=pass</comment>
        </reason>
      </policy_evaluated>
    </row>
    <identifiers>
      <header_from>ionic.io</header_from>
    </identifiers>
    <auth_results>
      <dkim>
        <domain>example.com</domain>
        <result>pass</result>
        <selector>google</selector>
      </dkim>
      <spf>
        <domain>example.com</domain>
        <result>pass</result>
      </spf>
    </auth_results>
  </record>
</feedback>
```
</details>

+1

We’re seeing a lot of arc=pass reports (especially from G Suite distribution lists) filling our reports with false/positives.

This feature can help a lot in the DMARC adoption process. 